body {
    background-color: #e5a0a0;
}
p, h1, h2, h3, h4 {
    font-family: impact;
}

h1{
    font-size: 64px;
    text-align: center;
    font-weight: 100;
}

div {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

.h1-container {
    width: 90%;
    margin: 0 auto;
}

.nav-box{
    padding: 0px;
    margin: 0 auto;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.nav-links {
    color: white;
    background-color: black;
    border: 2px dashed white;
    padding: 5px 10px;
    min-width: 100px;
}

.nav-links, a {
    font-size: 24px;
    text-align: center;
    color: white;
}

.intro-text {
    text-align: center;
    font-weight: normal;
}

.image-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: content;
}

#angry-corgi-pic {
    width: 90%;
    height: auto;
    max-width:600px;
    margin: 0 auto;
}

#froggy-corgi-pic {
    width: 90%;
    height: auto;
    max-width:600px;
    margin: 0 auto;
}

.nav-button {
    margin: 0 auto;
    width: 25%;
    min-width: 100px;
}
.discord-link{
    display: block;
}