body {
    background-color: #e5a0a0;
}
p, h1, h2, h3, h4 {
    font-family: impact;
}
.nav-box{
    padding: 0px;
    padding-left: 10%;
    padding-right: 10%
    margin: 0 auto;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

.nav-links {
    color: white;
    background-color: black;
    border: 2px dotted white;
    padding: 5px 10px;
}